body {
  margin: 0;
  padding: 0;
  background-color: #d3c2c2;
  max-width: 100vw;
}
body ::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
